<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Stats{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    {% if session.access_token %}
        <h1>Spotify Stats</h1>
        <nav class="filters">
            <a href="{{ url_for('stats', view='top_tracks', limit=limit) }}">Top tracks</a>
            <a href="{{ url_for('stats', view='by_popularity', limit=limit) }}">By Popularity</a>
            <a href="{{ url_for('stats', view='recently_played', limit=limit) }}">Recently Played</a>
        </nav>
        {% if view == 'top_tracks' %}
            <nav class="time-ranges">
                    <a href="{{ url_for('stats', view='top_tracks', time_range='long_term', limit=limit) }}">All Time</a>
                    <a href="{{ url_for('stats', view='top_tracks', time_range='medium_term', limit=limit) }}">1 Year</a>
                    <a href="{{ url_for('stats', view='top_tracks', time_range='short_term', limit=limit) }}">1 Month</a>
            </nav>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        <a href="{{ url_for('create_playlist', view=view, time_range=request.args.get('time_range'), limit=limit) }}" class="create-btn">Create Playlist</a>
    {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Spotify Stats</p>
    </footer>
</body>
</html>