<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spotify Stats{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    {% if session.access_token %}
        <h1>Spotify Stats</h1>
        <nav class="filters">
            <a href="{{ url_for('stats', view='top_tracks') }}">Top tracks</a>
            <a href="{{ url_for('stats', view='by_popularity') }}">By Popularity</a>
            <a href="{{ url_for('stats', view='recently_played') }}">Recently Played</a>
        </nav>
        {% if view == 'top_tracks' %}
            <nav class="time-ranges">
                    <a href="{{ url_for('stats', view='top_tracks', time_range='long_term') }}">All time</a>
                    <a href="{{ url_for('stats', view='top_tracks', time_range='medium_term') }}">1 year</a>
                    <a href="{{ url_for('stats', view='top_tracks', time_range='short_term') }}">1 month</a>
            </nav>
        {% endif %}
    {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Spotify Stats</p>
    </footer>
</body>
</html>