{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
    <h2>Your Spotify statistics</h2>

    {% if top_artist %}
        <h3>Top Artist</h3>
        <p>{{ top_artist.name }}</p>
        {% if top_artist.images %}
            <img src="{{ top_artist.images[0].url }}" alt="Top Artist Image" class="top-artist-img" width="250">
        {% endif %}
    {% else %}
        <p class="top-artist-name">No top artist data available.</p>
    {% endif %}

    <h3>Top 5 tracks:</h3>
        <ul class="tracks">
            {% for track in top_tracks %}
            <li>
                <img src="{{ track.album.images[0].url }}" alt="Track Image">
                <strong>{{ track.name }}</strong>
                    by<br> 
                    {{ track.artists[0].name }}<br>
                <a href="{{ track.external_urls.spotify }}" class="spotify-btn" target="_blank">Listen on Spotify</a>
            </li>
            {% endfor %}
            </ul>

    <h3>Listening time:</h3>
    <p>{{ total_minutes }} minutes</p>
{% endblock %}